.dots {
    font-size: 25px;
    letter-spacing: 3px;
    color: #706E6E;
    line-height: 0.2;
    cursor: pointer;
}

.main {
    user-select: none;
    position: relative;
    padding: 3px 3px 0 7px;
    margin-bottom: 1px;
    width: 40px;
    height: 25px;
}

.mainDiv:hover .main{
    cursor: pointer;
}

.options {
    display: none;
    position: absolute;
    z-index: 100;
    font-size: 18px;
    white-space: nowrap;
    background-color: white;
    color: black;
    border-radius: 10px;
    right: 0;
    top: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 0;
}

.mainDiv:hover .options {
    display: block;
}

.option {
    padding: 2px 10px;
}
.option:hover {
    background-color: #EDEEF0;
}