.MDiv {
    border-radius: 10px;
}
.marginDiv {
    margin: 0 20px;
}
.divCollectionContent{
    background-color: rgba(56, 49, 86, 0.7);
    backdrop-filter: blur(5px);
    color: white;
    position: relative;
}

.divInfoContent {
    margin: 30px 30px;
    min-height: 90px;
}
.divTagsContent {
    display: flex;
    gap: 5px;
    margin: 0 30px;
    min-height: 40px;
}

.divInputs{
    flex: 2;
}

.divSelect {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

.divButton {
    margin-bottom: 15px;
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

.divAllInputs {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 20px;
}


@media (max-width: 1200px) {
    .divAllInputs {
        flex-direction: column;
    }
    .divSelect {
        flex-direction: row;
    }
    .divItemContent {
        flex-direction: column;
    }
}