.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.mDiv {
    width: 450px;
    margin-top: 20px;
    padding: 40px;
    border-radius: 15px;
}

.registerDiv{
    min-width: 400px;
}

.divButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.passwordLink {
    margin-left: 10px;
    text-decoration: underline;
    color: #383156;
}

.passwordLink:hover {
    color: #ffaf75;
}