:root {
    scrollbar-color: #211C35;
    scrollbar-width: thin;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
    background-color: whitesmoke;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: lightgrey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #211C35;
    border: 3px solid transparent;
    background-clip: content-box;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

}
