:root {
    scrollbar-color: rgba(56, 49, 86, 0.8) rgba(0, 0, 0, 0.1);
    scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: lightgrey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:  rgba(56, 49, 86, 0.8);
    border: 3px solid transparent;
    background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color:  rgba(56, 49, 86);
}
