.divMain {
    margin-bottom: 30px;
}

@media(max-width: 991px) {
    .divMain > div {
        flex-direction: column;
        gap: 20px;
    }

    .divFilterAndAdd {
        justify-content: space-between;
    }
}


.divFilterAndAdd {
    display: flex;
    gap: 10px;
}

.search {
    max-width: 600px;
    min-width: 400px;
    font-family: Inter, sans-serif;
}