.navDivButtons {
    display: flex;
    flex: 1;
    margin-left: 7px;
}

.navDivButtons div {
    width: 33%;
    height: 45px;
    border: 1px solid #3A325B;
    border-radius: 10px;
    text-align: center;
    line-height: 2;
    margin: 0 1%;
    padding-top: 3px;
    user-select: none;
    cursor: pointer;
}

.navDivButtons div:hover {
    background-color: #EDEEF0;
    text-decoration: underline;
}

.ButtonActive {
    background-color: #EDEEF0;
}