.tag {
    height: 25px;
    border-radius: 15px;
    width: 70px;
    text-align: center;
    color: #BBB4B4;
}

.redTag {
    background-color: rgba(187, 22, 22, 0.5);
}

.greenTag {
    background-color: rgba(0, 255, 41, 0.5);
}

.violetTag {
    background-color: rgba(255, 7, 230, 0.5);
}

.yellowTag {
    background-color: rgba(224, 255, 35, 0.5);
}