.main {
    display: flex;
    gap: 20px;
}

.left {
    flex: 2;
}

.right {
    flex: 1;
}

.rightDivs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    top: 0;
}

.newPosts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

