.divTopContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.commentaryBody {
    margin: 10px 0;
}

.divContent {
    width: 80%;
    margin-top: 4px;
}

.divBottomContent {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.divUserContent {
    display: flex;
    align-items: center;
    gap: 5px;
}

.imgUser {
    width: 36px;
    height: 36px;
    border: 1px solid rgba(56, 49, 86, 0.8);
    border-radius: 10px;
}

.spanAnswer {
    color: #FFB29A;
    user-select: none;
    cursor: pointer;
}

.spanUsername {
    font-size: 18px;
    user-select: none;
    cursor: pointer;
}

.spanTime {
    margin-left: 10px;
    font-size: 12px;
    color: #706E6E;
}

.divMore {
    font-size: 25px;
    color: #706E6E;
    cursor: pointer;
    line-height: 0.2;
    padding-bottom: 15px;
}

.divAnswers {
    display: flex;
}

.line {
    border-left: 1px solid black;
}

.answerCommentary {
    margin-left: 25px;
    flex: 1;
}

.divLikeCommentary, .divDislikeCommentary {
    cursor: pointer;
    font-size: 20px;
}

.divLikes {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #706E6E;
}

.divLikeCommentary {
    margin-top: 6px;
}

.divLikeCommentary:hover {
    color: green;
}

.divDislikeCommentary {
    transform: rotate(3.142rad);
    margin-bottom: 2px;
}

.divDislikeCommentary:hover {
    color: red;
}