.mainDiv {
    display: flex;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}

.divRightInfoImg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}
.divRightInfoDivSpan {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.divRightInfoMainSpan {
    font-size: 22px;
    font-family: Inter, serif;
}

.divRightInfoSecondSpan {
    font-size: 18px;
    font-family: Inter, serif;
    color: #868080;
}