.NavigationBar {
    margin-bottom: 30px;
    background-color: white;
    font-family: Inter, sans-serif;
    user-select: none;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.divNavbar {
    display: flex;
    gap: 55px;
}

.logo {
    width: 35px;
    height: 35px;
}
.brand {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 30px;
    font-size: 22px;
}

.searchForm {
    margin: 0 20px;
}

@media(max-width: 991px) {
    .searchForm {
        visibility: hidden;
        position: absolute;
    }

    .divNavbar {
        display: flex;
        gap: 10px;
    }
}

.navButton, .searchButton {
    width: 46px;
    height: 46px;
    background-color: white;
    color: #211C35;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navButton:hover, .searchButton:hover {
    border-color: #211C35;
}

.icon {
    width: 28px;
    height: 28px;
}

@media(min-width: 992px) {
    .searchButton {
        display: none;
    }
}

.rightDiv {
    display: flex;
    align-items: center;
    height: 60px;
    gap: 10px;
}

.dropdown {
    margin-left: 10px;
}

.buttonLogin {
    margin: 0 20px 5px 0;
}




