.MInput {
    border-radius: 0;
    border: 1px solid #211C35;
    box-shadow: 6px 6px 0 0 #FFB29A;
    max-width: 400px;
    height: 35px;
}

.MInput:focus {
    box-shadow: none ;
    border: 1px solid #FFB29A;
    border-radius: 0;
}

.divInput {
    padding-top: 10px;
    min-width: 445px;
}

.divLabel {
    display: flex;
    justify-content: space-between;
}

.label {
    font-size: 16px;
    text-decoration: underline 1px;
    margin-bottom: 10px;
}

.setVisibility {
    cursor: pointer;
    user-select: none;
    font-size: 30px;
}

.unVisible {
    opacity: 0;
    display: none;
}

.visible {
}

.defaultValue {
    display: flex;
    align-items: center;
    font-size: 16px;
}