.mainDiv {
    border: 2px #3A325B dotted;
    width: 240px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.itemImg {
    width: 170px;
    height: 150px;
    object-fit: cover;
}

.mainSpan {
    font-weight: bold;
    font-size: 16px;
}

.secondSpan {
    text-align: left;
    font-size: 14px;
    color: #706B6B;
    width: 170px;
    line-height: 17px;
}

.like {
    position: absolute;
    right: 8px;
    bottom: 5px;
    cursor: pointer;
}

.like:hover {
    color: red;
}