.divUserContent {
    display: flex;
    justify-content: space-between;
    padding: 8px 0 0 0;
    min-height: 128px;
}
.divContent {
    display: flex;
    flex: 1;
    gap: 30px;
    margin-top: 20px;
}

.divContentLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 156px;
    gap: 20px;
}

.divContentRight {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.divFollowing, .divUnfollowing{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.divFollowing {
    background-color: rgba(56, 49, 86, 0.8);
}

.divUnfollowing {
    background-color: rgb(217, 217, 217);
}

@media(max-width: 991px) {
    .divContent {
        flex-direction: column-reverse;
    }
}

.buttonAddCollection {
    margin-top: -10px;
    margin-right: -10px;
}
