.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divBackImg {
    width: 100%;
    height: auto;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /*background-color: rgba(56, 49, 86, 0.7);*/
    background-color: rgba(56, 49, 86, 0.5);
}

.divBackImg:hover .editText {
    transition: opacity 0.3s;
    opacity: 1;
}

.divOpacity {
    height: 156px;
    position: relative;
}

.backImg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.editText {
    color: white;
    height: 34px;
    position: absolute;
    right: 60px;
    top: 20px;
    padding: 5px;
    transition: opacity 0.3s;
    opacity: 0;
}

.divOpacity:hover .editImg{
    transition: opacity 0.3s;
    opacity: 1;
}

.editImg:active{
    opacity: 1;
}

.editTooltip {
    position: absolute;
    right: -10px;
    top: -15px;
}

.editImg {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 34px;
    padding: 5px;
    background-color: rgba(33, 28, 53, 0.6);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.3s;
    opacity: 0;
}

.editImg2 {
    z-index: 200;
    position: absolute;
    left: 45px;
    top: 55px;
    height: 34px;
    padding: 5px;
    background-color: rgba(33, 28, 53, 0.6);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    cursor: pointer;
}

.divContent {
    position: relative;
}

.collectionImage, .userImage {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    object-fit: cover;
    background-color: rgba(255, 255, 255, 0.5);
}

.userImage {
    top: -75px;
    left: 20px;
    width: 230px;
    height: 180px;
    border-radius: 15px;
    border: 2px solid #3A325B;
}

.collectionImage {
    top: -90px;
    left: 30px;
    width: 190px;
    height: 190px;
    border: 2px dotted #3A325B;
}

.divInfo {
    margin-left: 260px;
    display: flex;
    flex-direction: column;
    min-height: 70px;
    padding-top: 5px;
}

.divTittle, .divSecondText{
    font-family: Inter, serif;
    min-height: 33px;
}

.divTittle {
    font-size: 22px;
}
.divSecondText {
    font-size: 20px;
}
.divTittleDark, .divSecondTextDark{
    color: white;

}

.divTittleLight{
    color: black;
}

.divSecondTextLight {
    color: #969191;
}